:host {
  display: contents;
}

a {
  cursor: pointer;
  box-sizing: border-box;
  padding: 10px 20px;
  color: white;
  display: block;
  width: fit-content;
}
a.full-width {
  width: 100%;
}
.positiv {
  background-color: var(--color-accept);
}
.positiv:hover {
  background-color: darkgreen;
}

.negativ {
  background-color: red;
  background-color: var(--color-decline);
}
.negativ:hover {
  background-color: darkred;
}


.simple {
  color: var(--color-main);
  border: 1px solid var(--color-main);
  border-radius: 2px;
  padding: 5px 10px;
}
.simple:hover,.selected {
  background-color: var(--color-main);
  color: var(--color-main-contrast);
}
