.row {
  display: flex;
  justify-content: stretch;
}
.row p {
  padding: 2px;
  background-color: black;
  color: orange;
  width: 200px;
}

textarea {
  padding: 2px;
  padding-left: 5px;
  color: white;
  flex:1;
  font-size: 0.9rem;

  min-width: 210px;
  background-color: var(--color-gray);
}
.field {
  display: flex;
  border: 1px solid black;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: stretch;
  flex: 1;
}
app-button-small {
  width: 100%;
}
