<div class="form">
  <app-field title="Name"  [(value)]="npc.name"></app-field>
  <app-characteristics-form [viewOnly]="true"  [(characteristics)]="npc.characteristics"></app-characteristics-form>
  <app-field title="Initiative" [(value)]="npc.initiative"></app-field>
  <app-field title="Condition Monitor"  [(value)]="npc.conditionMonitor"></app-field>
  <app-field-limits title="Limits" [(value)]="npc.limits"></app-field-limits>
  <app-field title="Armor"  [(value)]="npc.armour"></app-field>
  <app-field-area title="Skills"  [(value)]="npc.skills"></app-field-area>
  <app-field-area *ngIf="npc.qualities" title="Qualities"  [(value)]="npc.qualities"></app-field-area>
  <app-field-array [viewOnly]="true" title="Gear" [(value)]="npc.gear"></app-field-array>
</div>
