<table>
  <tr class="header">
    <th>B</th>
    <th>A</th>
    <th>R</th>
    <th>S</th>
    <th>W</th>
    <th>L</th>
    <th>I</th>
    <th>C</th>
    <th>ESS</th>
    <th>M</th>
  </tr>
  <tr class="row">
    <td><input type="number" [(ngModel)]="characteristics.body" /></td>
    <td><input type="number" [(ngModel)]="characteristics.agility" /></td>
    <td><input type="number" [(ngModel)]="characteristics.reaction" /></td>
    <td><input type="number" [(ngModel)]="characteristics.strength" /></td>
    <td><input type="number" [(ngModel)]="characteristics.willpower" /></td>
    <td><input type="number" [(ngModel)]="characteristics.logic" /></td>
    <td><input type="number" [(ngModel)]="characteristics.intuition" /></td>
    <td><input type="number" [(ngModel)]="characteristics.charisma" /></td>
    <td><input type="number" [(ngModel)]="characteristics.edge" /></td>
    <td><input type="number" [(ngModel)]="characteristics.magic" /></td>
  </tr>
</table>
