.app-button-header {
width: 100%;
}


.container {
  display: flex;
}
.view {
  padding: 10px;
}

.npcs {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;

}

.sidepanel{
  width: 200px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
