
<svg
   xmlns:dc="http://purl.org/dc/elements/1.1/"
   xmlns:cc="http://creativecommons.org/ns#"
   xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
   xmlns:svg="http://www.w3.org/2000/svg"
   xmlns="http://www.w3.org/2000/svg"
   xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
   xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
   viewBox="0 0 6.1283088 8.6010256"
   version="1.1"
   id="svg8"
   inkscape:version="0.92.5 (2060ec1f9f, 2020-04-08)"
   sodipodi:docname="left-arrow.svg">
  <defs
     id="defs2" />
  <g
     inkscape:label="Layer 1"
     inkscape:groupmode="layer"
     id="layer1"
     transform="translate(-45.937765,-98.753661)">
    <g
       id="g8545"
       transform="translate(-3.5079126,-2.6058779)">
      <g
         id="g8548">
        <path
           style="opacity:1;vector-effect:none;fill:currentColor;fill-opacity:1;stroke:#333333;stroke-width:0;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1"
           d="m 196.78516,373.24219 -23.16211,16.2539 23.16211,16.25391 c 0,-10.83594 0,-21.67187 0,-32.50781 z"
           transform="matrix(0.26458333,0,0,0.26458333,3.5079126,2.6058779)"
           id="rect4518-0"
           inkscape:connector-curvature="0"
           sodipodi:nodetypes="cccc"
           inkscape:export-xdpi="288"
           inkscape:export-ydpi="288" />
      </g>
    </g>
    <g
       id="g8545-0"
       transform="matrix(1,0,0,-1,-3.5079126,208.71422)">
      <g
         id="g8548-1" />
    </g>
  </g>
</svg>
