a {
  cursor: pointer;
  background-color: var(--color-main--contrast);
  font-weight: bold;
  padding: 10px 20px;
  color: var(--color-main);
  display: block;
  width: fit-content;
  &.selected {
    background-color: var(--color-main);
    color: var(--color-main-contrast);

  }
  &:hover {
    background-color: var(--color-main);
    color: var(--color-main-contrast);
  }
}
