/* You can add global styles to this file, and also import other style files */
:root {
  --color-gray: #59595b;
  --color-main: orange;
  --color-main-dark: #e85d0d;
  --color-white: white;
  --color-accept: green;
  --color-decline: red;
  --color-main-contrast: black;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input {

  border: none;
}

* {
  margin:  0;
  padding: 0;
}
a {
  display: block;
}

body {
  font-size: 16px;
  background-color: oldlace;
  font-family: 'Courier New', Courier, monospace;
}

.divider {
  height: 1px;
  width: 100%;
  background-color: var(--color-main);
  margin: 5px 0;
}


/* fonts */
p, span {
  font-size: 1em;
  &.small{
    font-size: 0.8em;

  }
}

/* external librairs */
.angular-editor-textarea{
  background-color: white;
  ul{
    padding-inline-start: 40px;
  }

}